<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543993824972-edutadol88vdmfmnbq5ur3sd3bp00bc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543993824972-edutadol88vdmfmnbq5ur3sd3bp00bc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJh1vXY5Nvuf3xEyq_IgtqDk8J-T4-XlE</string>
	<key>GCM_SENDER_ID</key>
	<string>543993824972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equity.life.BuddyCoffee</string>
	<key>PROJECT_ID</key>
	<string>buddy-coffe</string>
	<key>STORAGE_BUCKET</key>
	<string>buddy-coffe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543993824972:ios:2bd311d28477f12e</string>
	<key>DATABASE_URL</key>
	<string>https://buddy-coffe.firebaseio.com</string>
</dict>
</plist>